.topCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 16px; // espaçamento entre os cards
    width: 100%; // grid ocupa toda a largura disponível
    align-items: stretch;
}

.dataCard {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
